:root {
   --primary-white: #e7ebf0;
   --primary-green: #8c9179;
   --primary-yellow: #ffd700;
   --primary-blue: #0057b7;
   --primary-black: #231e25;
}

* {
   padding: 0;
   margin: 0;
   font-family: Arial, Helvetica, sans-serif;
   box-sizing: border-box;
}

/* header */
/* header */

.header {
   background-color: var(--primary-blue);
   color: var(--primary-yellow);
   height: 14vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.temp-toggle {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 80px;
   height: 30px;
}

.selected-unit {
   font-size: 18px;
   font-weight: bold;
}

/* box around the slider */
.switch {
   position: relative;
   display: inline-block;
   width: 40px;
   height: 18px;
}

/* hide default HTML checkbox */
.switch input {
   opacity: 0;
   width: 0;
   height: 0;
}

/* slider */
.slider {
   position: absolute;
   cursor: pointer;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: #ccc;
   -webkit-transition: .4s;
   transition: .4s;
}

.slider:before {
   position: absolute;
   content: "";
   height: 17px;
   width: 17px;
   left: 0px;
   bottom: 1px;
   background-color: white;
   -webkit-transition: .4s;
   transition: .4s;
}

input:focus+.slider {
   box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
   -webkit-transform: translateX(23px);
   -ms-transform: translateX(23px);
   transform: translateX(23px);
}

/* rounded sliders */
.slider.round {
   border-radius: 34px;
}

.slider.round:before {
   border-radius: 50%;
}

/* main */
/* main */

.main {
   background-color: var(--primary-black);
   color: var(--primary-white);
   height: 80vh;
   display: grid;
   grid-template-rows: 0.7fr 0.8fr 1fr 1fr;
   gap: 4px;
}

.main-information {
   background-color: var(--primary-green);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   padding-bottom: 10px;
}

.today-weather {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 200px;
}

.temperature {
   font-size: 2.5rem;
}

.weather-icon-display {
   width: 75px;
}

.location {
   font-size: 1.2rem;
   border-top: solid 1px var(--primary-white);
   margin: 10px 0 4px 0;
   padding-top: 4px;
}

/* details section */

.details {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   font-weight: bold;
}

.details-card {
   background-color: var(--primary-white);
   color: var(--primary-black);
   display: flex;
   flex-direction: column;
   align-items: center;
}

.details-card p {
   margin-top: 6px;
   font-weight: lighter;
}

/* forecast section */

.hourly-weather,
.weekly-weather {
   background-color: var(--primary-green);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.hourly-weather div,
.weekly-weather div {
   width: 95%;
   display: flex;
   justify-content: center;
}

.hourly,
.daily {
   border-top: 1px solid var(--primary-white);
   padding: 3px 0;
}

/* footer */
/* footer */

.footer {
   background-color: var(--primary-blue);
   color: var(--primary-yellow);
   height: 6vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-size: 0.9rem;
}

/* loader */
/* loader */

#loader {
   display: none;
   /* Hide the loader by default */
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5);
   /* Semi-transparent background */
   z-index: 9999;
   /* Make the loader appear above other elements */
   justify-content: center;
   align-items: center;
}

.spinner {
   width: 40px;
   height: 40px;
   border: 4px solid #f3f3f3;
   border-top: 4px solid #3498db;
   border-radius: 50%;
   animation: spin 1s infinite linear;
}

@keyframes spin {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
}

#loader p {
   color: white;
   margin-left: 20px;
}

/* mobile optimization */
/* mobile optimization */

@media (max-height: 668px) {
   .main {
      height: auto;
   }
}

@media (max-width: 650px) {
   .hourly-weather,
   .weekly-weather {
      justify-content: space-between;
      padding: 4px 0;
   }

   .hourly-weather div,
   .weekly-weather div {
      padding-top: 4px;
   }

   .hourly-legend div,
   .daily-legend div {
      text-align: center;
   }
}